{% extends 'core/base.html' %}
{% block content %}

<div class="container py-4">
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="card h-100">
        <img src="https://static.wikitide.net/italianbrainrotwiki/f/f7/Brr_Brr_Patapim.png"
             class="card-img-top" alt="Brr Brr patapi">
        <div class="card-body">
          <h5 class="card-title">Ay patapim</h5>
          <p class="card-text">Ingeniero, mecánico, astrónomo y pololo.</p>
          <a href="#" class="btn btn-primary">Comentarios</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <div class="card h-100">
        <img src="https://images.cults3d.com/QVNGzU3ojNAtjJHsyTMjXHGg_f4=/516x516/filters:no_upscale():format(webp)/https://fbi.cults3d.com/uploaders/37982571/illustration-file/df107714-2374-43ca-b35b-f2dbe41df69a/GntqXm6WgAAIHt5.png"
             class="card-img-top" alt="Brr Brr patapi">
        <div class="card-body">
          <h5 class="card-title">Ay bombardilo</h5>
          <p class="card-text">Avion de combate, experto en gastronomia, disponible para ti</p>
          <a href="#" class="btn btn-primary">Comentarios</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <div class="card h-100">
        <img src="https://assets.megamediaradios.fm/2025/04/tralalero.jpeg"
             class="card-img-top" alt="tralalero">
        <div class="card-body">
          <h5 class="card-title">Ay Tralalero</h5>
          <p class="card-text">Experto en armas, guerrero del sol, 24 primaveras.</p>
          <a href="#" class="btn btn-primary">Comentarios</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}



<!--
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Foro</h1>
    <p>Foro inicial</p>
</body>
</html> -->
